<%= render partial: "posts/header" %>

<%= form_with model: @user, url: user_registration_path, class: "registration-main" do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-main">
    <h1>ユーザー新規登録</h1>
    <div class="name-field">
      <%= f.label "ユーザー名" %><br />
      <%= f.text_field :name, placeholder: "半角英数字で入力してください" %>
    </div>
    <div class="email-field">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, placeholder: "PC・携帯どちらでも可能", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="password-field">
      <%= f.label "パスワード" %><br />
      <%= f.password_field :password, placeholder:"6文字以上の半角英数字", autocomplete: "new-password" %>
    </div>
    <div class="password-confirm-field">
      <%= f.label "パスワード（確認）" %><br />
      <%= f.password_field :password_confirmation, placeholder:"同じパスワードを入力してください", autocomplete: "new-password" %>
    </div>
  </div>
  
  <div class="signup-btn">
    <%= f.submit "登録" %>
  </div>
<% end %>
