<%= render partial: "posts/header" %>

<%= form_with model: @user, url: user_registration_path, class: "registration-main", local: true do |f| %>
  <div class="form-main">
    <div class="signup-error">
      <%= render "shared/error_messages", model: f.object %>
    </div>
    <h1>ユーザー新規登録</h1>
    <div class="name-field">
      <%= f.label "ユーザー名（必須）" %><br />
      <%= f.text_field :name, placeholder: "半角英数字で入力してください" %>
    </div>
    <div class="email-field">
      <%= f.label "メールアドレス（必須）" %><br />
      <%= f.email_field :email, placeholder: "PC・携帯どちらでも可能", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="fav-shop-field">
      <%= f.label "好きなお店・ジャンル" %><br />
      <%= f.text_field :favorite_shop %>
    </div>
    <div class="living-area-field">
      <%= f.label "お住まいの地域" %><br />
      <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"living-area-select"}) %>
    </div>
    <div class="password-field">
      <%= f.label "パスワード（必須）" %><br />
      <%= f.password_field :password, placeholder:"6文字以上の半角英数字", autocomplete: "new-password", minlength: "6" %>
    </div>
    <div class="password-confirm-field">
      <%= f.label "パスワード確認（必須）" %><br />
      <%= f.password_field :password_confirmation, placeholder:"同じパスワードを入力してください", autocomplete: "new-password" %>
    </div>
  </div>
  <div class="signup-btn">
    <%= f.submit "登録" %>
  </div>
  <div class="google-signup">
    <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-danger", method: :post do %>
      <i class="fab fa-google"> Googleで登録</i>
    <% end %>
  </div>
  <div class="twitter-signup">
    <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-info", method: :post do %>
      <i class="fab fa-twitter"> Twitterで登録</i>
    <% end %>
  </div>
  <div class="facebook-signup">
    <%= link_to user_facebook_omniauth_authorize_path, class:"btn btn-primary", method: :post do %>
      <i class="fab fa-facebook-square"> Facebookで登録</i>
    <% end %>
  </div>
<% end %>
