<%= render partial: "posts/header" %>

<div class="user-liked-index">
  <h2 class="liked-index-head">いいね！した投稿</h2>
  <% @like_posts.each do |l_post| %>
    <div class="liked-post-container">
      <div class="liked-post-left">
        <% if l_post.image.blank? %>
          <p class="no-image">No Image</p>
        <% else %>
          <%= image_tag l_post.image %>
        <% end %>
      </div>
      <div class="liked-post-right">
        <div class="liked-post-right-top">
          <%= link_to l_post.shop_name, post_path(l_post.id) %>
        </div>
        <div class="liked-post-right-bottom">
          <p><%= l_post.explain %></p>
        </div>
        <div class="liked-post-tags">
          <% if l_post.tag_list.present? %>
            <%= link_to l_post.tag_list, tag_path(l_post.tag_list), class:"fas fa-hashtag" %>
          <% end %>
        </div>
        <div class="posted-user">
          <p>Posted by:<%= link_to l_post.user.name, user_path(l_post.user_id) %></p>
        </div>
        <div class="liked-post-detail">
          <%= link_to "詳細", post_path(l_post.id), class:"btn btn-liked-post-detail"%>
        </div>
      </div>
    </div>
  <% end %>
</div>