<%= render partial: "posts/header" %>

<h1>ユーザ情報の編集</h1>
<div class="user-edit-container">
  <%= form_with model: current_user, local: true do |form| %>
    <div class="user-edit-profile">
      <%= flash[:alert] %>
      <div class="edit-profile-image">
        <p>プロフィール画像</p>
        <%= form.file_field :image %>
      </div>
      <div class="edit-user-name">
        <p>ユーザー名</p>
        <%= form.text_field :name %>
      </div>
      <div class="edit-email">
        <p>登録メールアドレス</p>
        <%= form.text_field :email %>
      </div>
    </div>
    <div class="user-edit-btn">
      <%= form.submit "更新" %>
    </div>
  <% end %>
</div>