<%= render partial: "posts/header" %>

<div class="user-container">
  <div class="user-profile">
    <div class="user-image">
      <% if @user.image.blank? %>
        <%= image_tag "/登録のピクトアイコン1.png", alt:"画像が登録されていません" %>
      <% else %>
        <%= image_tag @user.image.variant(resize:'200x200') %>
      <% end %>
    </div>
    <div class="user-name">
      <h2><%= @user.name %><h2>
      <div class="follow-btn">
        <%= render "follow_form" %>
      </div>
    </div>
    <div class="user-introduce">
      <%= @user.introduce %>
    </div>
    <div class="user-fav">
      <p style="color: blue;">好きなお店・ジャンル</p>
      <%= @user.favorite_shop %>
    </div>
    <div class="user-living">
      <p style="color: blue;">お住まいの地域</p>
      <%= @user.prefecture.name %>
    </div>
    <div class="user-follow">
      <div id="follow-count">
        <%= link_to "フォロー#{@user.following.count}", following_user_path(@user.id) %>
      </div>
      <div id="follower-count">
        <%= link_to "フォロワー#{@user.followers.count}", followers_user_path(@user.id) %>
      </div>
    </div>
    <div class="user-edit">
      <!--自分以外のユーザーの編集ページと、ゲストユーザーの編集ページにはアクセスできないよう設定-->
      <% if @user == current_user && current_user.id != 5 %>
        <%= link_to "ユーザー情報の編集", edit_user_path(@user.id), class:"btn btn-user-edit" %>
      <% end %>
    </div>
  </div>
</div>

<div class="user-post-container">
  <h2 class="user-post-index">投稿一覧</h2>
  <%= render partial: "posts/post", locals:{posts: @posts} %>
</div>
