<%= render partial: "posts/header" %>

<%= form_with model: @user, url: user_session_path, class: "session-main", local: true do |f| %>

  <div class="form-main">
    <div class="signin-error">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <h1>ログイン</h1>
    <div class="email-field">
      <%= f.label "登録メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="password-field">
      <%= f.label "パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="remember-field">
      <%= f.check_box :remember_me %>
      <%= f.label "ユーザー情報を記憶しておく" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
