<div class="main">
  <div class="header-area">
    <div class="app-name">
      <% if user_signed_in? %>
        <%= link_to "Payways", posts_path %>
      <% else %>
        <%= link_to "Payways", root_path %>
      <% end %>
    </div>
    <ul class="header-menu">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, user_path(current_user) %></li>
        <li><%= link_to "新規投稿", new_post_path %></li>
        <li><%= link_to "お気に入り", like_index_path %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <%= link_to "ゲストログイン(閲覧用)", users_guest_sign_in_path, class: "guest-login", method: :post %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>