<div class="main">
  <div class="header-area">
    <div class="app-name">
      <% if user_signed_in? %>
        <%= link_to "Payways", posts_path %>
      <% else %>
        <%= link_to "Payways", root_path %>
      <% end %>
    </div>
    <div class="search-form-header">
      <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
        <%= form.text_field :keyword, placeholder:"キーワードを入力", class:"header-search-input" %>
        <i class="fas fa-times-circle", id="header-search-reset"></i>
        <%= form.submit "検索", class:"header-search-btn", style:"display: none;" %>
      <% end %>
    </div>
    <ul class="header-menu">
      <% if user_signed_in? %>
        <li class="header">
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user", id="mypage"></i>
            <p class="balloon">マイページ</p>
          <% end %>
        </li>
        <li class="header">
          <%= link_to notifications_path do %>
            <i class="fas fa-bell", id="notifications"></i>
            <p class="balloon">通知</p>
            <% if unchecked_notifications.any? %>
              <i class="fa fa-circle" style="color: gold;"></i>
            <% end %>
          <% end %>
        </li>
        <li class="header">
          <%= link_to new_post_path do %>
            <i class="fas fa-edit", id="new_post"></i>
            <p class="balloon">新規投稿</p>
          <% end %>
        </li>
        <li class="header">
          <%= link_to like_index_path do %>
            <i class="fas fa-bookmark", id="bookmark"></i>
            <p class="balloon">お気に入り</p>
          <% end %>
        </li>
        <li class="header">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-user-slash", id="logout"></i>
            <p class="balloon">ログアウト</p>
          <% end %>
        </li>
      <% else %>
        <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "guest-login", method: :post %>
        <li class="header"><%= link_to "新規登録", new_user_registration_path %></li>
        <li class="header"><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>