<%= render partial: "header" %>

<h1>投稿の編集</h1>

<div class="form-area">
  <%= form_with(model: @post, local: true) do |form|%>
    <div class="post-form">
      <p>店名（必須）</p>
      <%= form.text_field :shop_name, class: "shop_name" %>
      <p>写真</p>
      <%= form.file_field :image %>
      <p>決済方式・お店に関する情報</p>
      <%= form.text_area :explain, class: "shop_explain" %>
    </div>
    <div class="post-btn">
      <%= form.submit "投稿する"%>
    </div>
  <% end %>
</div>

<%= render partial: "footer" %>