<%= render partial: "header" %>

<div class="form-area">
  <h1>投稿の編集</h1>
  <%= form_with(model: @post, local: true) do |form|%>
    <p class="form-text">店名</p>
    <%= form.text_field :shop_name, placeholder: "例:スターバックスコーヒー 原宿店", class: "shop_name" %>
    <p class="form-text">決済方式・お店に関する情報</p>
    <%= form.text_area :explain, placeholder: "例:クレジットカードは全ブランド、電子マネーはクイックペイが使えました。オムライスがとても美味しいお店です。 ", class: "shop_explain" %>
    <%= form.submit "投稿する"%>
  <% end %>
</div>

<%= render partial: "footer" %>