<%= render partial: "header" %>

  <div class="overview-area">
    <h1>Paywaysへようこそ</h1>
    <p>Paywaysはキャッシュレス決済に対応するお店の検索・情報共有サービスです。</p>
  </div>

  <div class="search-form-area">
    <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
      <%= form.text_field :keyword %>
      <%= form.submit "検索" %>
    <% end %>
  </div>

  <% unless user_signed_in? %>
    <div class="about-service">
      <h1>Paywaysでできること</h1>
      <%= image_tag  "/クレジットカードのアイコン素材.png" %>
      <%= image_tag  "/スマートフォンアイコン12 .png" %>
      <%= image_tag  "/コメントのアイコン素材 その2.png" %>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="latest-post-area">
      <h1>最近投稿された情報</h1>
      <%= render partial: "post" %>
    </div>
  <% end %>

<%= render partial: "footer" %>