<%= render partial: "header" %>

<div class="search-form-area">
  <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
    <%= form.text_field :keyword, placeholder: "店名・キーワードを入力してください" %>
    <%= form.submit "検索", class: "search" %>
  <% end %>
</div>
<div class="latest-post-area">
  <h1>投稿一覧</h1>
  <%= render partial: "post" %>
</div>

<%= render partial: "footer" %>