<%= render partial: "header" %>

  <div class="overview-area">
    <h1>Payways</h1>
    <p>あなたが行こうとしているお店の決済方法は？</p>
    <p>Paywaysならすぐにお調べできます。</p>
  </div>

  <div class="search-form-area">
    <%= form_with url: search_posts_path, local: true, method: :get do |form| %>
      <%= form.text_field :keyword %>
      <%= form.submit "検索" %>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="latest-post-area">
      <h1>最近投稿された情報</h1>
      <% @posts.each do |post| %>
        <%= link_to post.shop_name, post_path(post.id) %>
      <% end %>
    </div>
  <% end %>

<%= render partial: "footer" %>