<%= render partial: "header" %>

<h1>新規投稿</h1>
<div class="form-area">
  <%= form_with(model: @post, local: true) do |form|%>
    <%= render "shared/error_messages", model: form.object %>
    <div class="post-form">
      <p>店名（必須）</p>
      <%= form.text_field :shop_name, placeholder: "例: スターバックスコーヒー 原宿店", class: "shop_name" %>
      <p>写真</p>
      <%= form.file_field :image %>
      <p>タグ</p>
      <%= form.text_field :tag_list, value: @post.tag_list.join(','), placeholder: "例: 全クレジットカード対応" %>
      <p>決済方式・お店に関する情報（必須）</p>
      <%= form.text_area :explain, placeholder: "例: クレジットカードは全ブランド使えます。カフェラテとサンドイッチがとても美味しいお店です。 ", class: "shop_explain" %>
    </div>
    <div class="post-btn">
      <%= form.submit "投稿する"%>
    </div>
  <% end %>
</div>

<%= render partial: "footer" %>