<%= render partial: "header" %>

<div class="post-area">
  <div class="post-left-content">
    <% unless @post.image.blank?%>
      <%= image_tag @post.image.variant(resize:'250x250') %>
    <% else %>
      <p>No Image</p>
    <% end %>
  </div>
  <div class="post-right-content">
    <h2 class="shop-name"><%= @post.shop_name %></h2>
    <div class="post-tags">
      <% if @post.tag_list.present? %>
        <h2 class="tag-label">#タグ</h2>
        <% @post.tag_list.each do |tag| %>
          <h3 class="tag_list"><%= link_to tag, tag_path(tag) %></h3>
        <% end %>
      <% end %>
    </div>
    <%= @post.explain %>
    <div class="like-btn">
      <div class="buttons_<%= @post.id %>"><%= render partial: "like", post: @post %></div>
    </div>
    <div class="post-right-bottom-content">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <i class="far fa-edit"></i>
        <%= link_to "編集", edit_post_path(@post.id), class:"post-edit" %>
        <i class="fas fa-trash"></i>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-delete" %>
      <% end %>
    </div>
  </div>
</div>

<div class="post-map">
  <div id="map"></div>
</div>

<script>
var latLng;
var marker;
var infoWindow;
function initMap() {
  latLng = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
  map = new google.maps.Map(document.getElementById('map'), {
    center: latLng,
    zoom: 15,
    mapTypeControl: false,
    streetViewControl: false
  });
  marker = new google.maps.Marker({
    position: latLng,
    map: map
  });
  infoWindow = new google.maps.InfoWindow({
    content: "<a href='https://www.google.com/search?q=<%= @post.shop_name %>' target='_blank' style='color: #00f;'><%= @post.shop_name %> を検索</a><br><br><a href='http://www.google.com/search?q=<%= @post.shop_name %> &tbm=isch' target='_blank'>画像検索 by google</a>"
  });
  marker.addListener('click', function() {
    infoWindow.open(map, marker);
  });
}
initMap();
</script>


<div class="comment-container">
  <% if user_signed_in? %>
    <h2>
      <i class="fas fa-comment-dots"></i>
      コメント一覧
    </h2>
    <div class="comment-error">
      <%= flash[:alert] %>
    </div>
    <div class="comment-index">
      <% if @comments %>
        <%= render partial: "comment", comments: @comments %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="comment-form" id="comment-form">
  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment]) do |form| %>
      <div class="comment-text">
        <%= form.text_area :text, placeholder: "コメントを記入してください" %>
      </div>
      <div class="comment-submit">
        <%= form.submit "コメントする" %>
      </div>
    <% end %>
  <% else %>
    <p class="notice">
      <i class="fas fa-exclamation-circle"></i>
      コメントの閲覧および投稿には、新規登録/ログインが必要です
    </p>
  <% end %>
</div>
