<%= render partial: "header" %>

<div class="post-area">
  <p class="form-text">店名</p>
  <%= @post.shop_name %>
    <p class="form-text">写真</p>
    <%= image_tag @post.image.variant(resize:'350x350') %>
    <p class="form-text">対応する決済方式</p>
  <% if @post.credit_card.id != 1 %>
    <p class="form-text">クレジットカード</p>
    <%= @post.credit_card.name %>
  <% end %>
  <% if @post.e_money.id != 1%>
    <p class="form-text">電子マネー</p>
    <%= @post.e_money.name %>
  <% end %>
  <% if @post.code_pay.id != 1%>
    <p class="form-text">QRコード決済</p>
    <%= @post.code_pay.name %>
  <% end %>
  <p class="form-text">その他追加情報</p>
  <%= @post.explain %>
</div>

<div class="post-menu-area">
  <ul>
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <li><%= link_to "編集", edit_post_path(@post.id) %></li>
      <li><%= link_to "削除", post_path(@post.id), method: :delete %></li>
    <% end %>
  </ul>
</div>

<%= render partial: "footer" %>