<%= render partial: "header" %>

<div class="post-area">
  <div class="post-left-content">
    <% unless @post.image.blank?%>
      <%= image_tag @post.image.variant(resize:'250x250') %>
    <% else %>
      <p>No Image</p>
    <% end %>
  </div>
  <div class="post-right-content">
    <h2 class="shop-name"><%= @post.shop_name %></h2>
    <div class="post-tags">
      <% if @post.tag_list.present? %>
        <h2>タグ</h2>
        <%= @post.tag_list %>
      <% end %>
    </div>
    <%= @post.explain %>
    <div class="like-btn">
      <%= render partial: "like", post: @post %>
    </div>
    <div class="post-right-bottom-content">
      <% if user_signed_in? && current_user.id == @post.user_id %>
        <i class="far fa-edit"></i>
        <%= link_to "編集", edit_post_path(@post.id), class:"post-edit" %>
        <i class="fas fa-trash"></i>
        <%= link_to "削除", post_path(@post.id), method: :delete, class:"post-delete" %>
      <% end %>
    </div>
  </div>
</div>

<div class="comment-container">
  <% if user_signed_in? %>
    <h2>
      <i class="fas fa-comment-dots"></i>
      コメント一覧
    </h2>
    <div class="comment-index">
      <% if @comments %>
        <% @comments.each do |comment|%>
          <p><%= comment.text %></p>
          <p class="comment-user"><%= link_to comment.user.name, user_path(comment.user_id) %>さん</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

<div class="comment-form">
  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |form| %>
      <div class="comment-text">
        <%= form.text_area :text, placeholder: "コメントを記入してください" %>
      </div>
      <div class="comment-submit">
        <%= form.submit "コメントする" %>
      </div>
    <% end %>
  <% else %>
    <p class="notice">
      <i class="fas fa-exclamation-circle"></i>
      コメントの閲覧および投稿には、新規登録/ログインが必要です
    </p>
  <% end %>
</div>
